<!doctype html>
<html>
    <head>
    </head>
    <body>
        <div class="some weird class">
            <h1>
                this shows SimpleSyntax rendering the Code of this very page including its own sourcecode
            </h1>
        </div>
        <script>
