        </script>
        <script>
            var simpleSyntax = new SimpleSyntax();
            document.write('<pre>' + simpleSyntax.renderHtml( document.documentElement.innerHTML ) + '</pre>');

        </script>

    </body>
</html>
